# Byte-compiled / optimized / DLL files
__pycache__/

/andes/
/dime/
env.sh
*.zip
agvis/cases/*_out*.*

# Editor files
#mac
.DS_Store
*~

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# Sphinx documentation
docs/source/_examples
docs/build/
docs/jupyter_execute/
docs/source/_build/
_generated

# testfile
icebar