# Byte-compiled / optimized / DLL files
__pycache__/

/andes/
/dime/
env.sh
*.zip
/cases/*_out*.*

# Editor files
#mac
.DS_Store
*~

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg

# testfile
icebar